*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/images/ton.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.headerthings nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, .70);
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    padding-left: 25px;
}
.headerthings nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
.headerthings nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.contactmain{
    text-align: center;
    position: relative;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
h3{
    font-size: 50px;
}
.contacttext{
    font-size: 30px;
    text-align: left;
    padding-left: 25%;
}
li{
    list-style-type: none;
}